.total-view-logo {
    height: 34px;
    width: 189px;
    margin-left: -7px;
    margin-bottom: 15px;
}

.login-total-view-logo {
    height: 20%;
    width: 90%;
}

.loginscreen {
    background-repeat: repeat;
    background-image: url("/css/patterns/header-profile.png");
}

.loginscreen > div > h3 {
    color: #DFE4ED;
}

.login-sub-header {
    color: #8095A8;
}

.login-footer {
    color: #8095A8;
}

.clockpicker-popover {
    z-index: 99999 !important;
}

.modal-preheader {
    background: #f8fafb;
}

.inmodal .modal-header {
    padding: 15px !important;
}
